<div class="flex items-center justify-center flex-col min-h-screen">

  <div class="flex justify-center items-center">
    <div class="flex flex-col mr-10">
      <div class="text-4xl font-bold mb-6">
        <span class="text-2xl font-bold">The Recommendation System</span><br>
        on your side.
      </div>

      <div class="text-lg mb-6">
        Discover excellent recommendations with the help of our service.
      </div>

      <button class="w-48 h-16 bg-black text-white">
        <%= link_to t('customer_link_name'), shops_path, :class => "text-white hover:underline" %>
      </button>
    </div>

    <div class="flex justify-center">
      <div class="w-56 h-56 rounded-full bg-black"></div>
      <div class="w-32 h-32 rounded-full bg-black ml-4"></div>
    </div>
  </div>

</div>

