

<!-- DESIGN -->

<div class="flex items-center justify-center flex-col min-h-screen">
  <%= render "recommender/title" %>

  <div class="flex flex-col md:flex-row space-x-0 md:space-x-8 space-y-12 md:space-y-0 justify-center items-center">
    <% if Current.user %>
      <div class="flex flex-col p-8 rounded-xl bg-gray-200 shadow-xl w-96 md:w-auto">
        <div class="mt-3 font-semibold text-lg">
          <%= link_to t('admin_link_name'), controller: 'categories', action: 'index', class: "text-gray-800 hover:underline" %>
        </div>
      </div>
    <% end %>
    <div class="flex flex-col p-8 rounded-xl bg-gray-200 shadow-xl w-96 md:w-auto">
      <div class="mt-3 font-semibold text-lg">
        <%= link_to t('customer_link_name'), controller: 'recommender', action: 'category', class: "text-gray-800 hover:underline" %>
      </div>
    </div>
  </div>
</div>

