<h2>Password Reset</h2>

<p>Hello <%= @user.email %>,</p>

<p>We have received a request to reset your password. To proceed with the password reset, please click on the following link:</p>

<p><%= link_to 'Reset Password', edit_password_url(@user.password_reset_token, locale: I18n.locale) %></p>

<p>If you did not request a password reset, you can ignore this email. Your password will remain unchanged.</p>

<p>Regards,</p>
<p>Your User Application Team</p>
