#not used
<div class="flex items-center justify-center flex-col min-h-screen">
  <div class="flex flex-col md:flex-row space-x-0 md:space-x-8 space-y-12 md:space-y-0 justify-center items-center text-center">
    <div class="flex flex-col p-8 rounded-xl bg-white shadow-xl w-96 md:w-auto">
      <div class="mt-3 font-semibold text-lg">
        <%= link_to t('shop.linkshop'), new_shop_sessions_path%>
      </div>
    </div>

    <div class="flex flex-col p-8 rounded-xl bg-white shadow-xl w-96 md:w-auto">
      <div class="mt-3 font-semibold text-lg">
        <%= link_to t('customer_link_name'), new_user_sessions_path %>
      </div>
    </div>
  </div>
</div>
