<div class="flex items-center justify-center h-screen">
<div class="border-2 border-black p-16 rounded">
  <h1 class="text-4xl font-bold mb-6 text-center uppercase font-montserrat"><%= t('shop.create_account') %></h1>

<%= render 'form', category: @shop %>

<div class="text-center items-center justify-center m-4 p-2 ">
  <button class="text-white bg-black hover:bg-gray-600 font-bold py-2 px-4 uppercase font-montserrat">
    <%= link_to t('category.back'), shops_path %>
  </button>
</div>
</div>
</div>