<div class="flex items-center justify-center h-screen my-36 px-4">
<div class="border-2 border-black p-16 sm:p-8">
  <h1 class="text-4xl font-bold mb-6 text-center uppercase font-montserrat sm:text-2xl"><%= t('shop.create_account') %></h1>
  <%= render 'shops/form', category: @shop %>
</div>
</div>