<footer class="text-neutral-0 justify-between flex-col md:flex-row md:flex-wrap md:justify-start md:items-start py-3 md:py-8 gap-3">
  <div class="flex flex-row flex-wrap justify-start items-start gap-3 flex-wrap">
    <%= link_to t('impressum'), impressum_path %>
    <%= link_to t('privacy'), privacy_path %>
    <%= link_to t('contact'), contact_path %>
  </div>
</footer>
</body>
