<footer class="text-neutral-0 justify-between flex-col md:flex-row md:flex-wrap md:justify-start md:items-center py-10 md:py-16">
  <div>
    <%= link_to t('impressum'), impressum_path %>
    <%= link_to t('privacy'), privacy_path %>
    <%= link_to t('contact'), contact_path %>
  </div>
</footer>
</body>
