<head class="flex h-auto z-1 max-w-max w-full">
    <title>Spill the Tee - Kategorien</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/e464ad1dd2.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="w-full relative">
    <nav class="flex bg-gray-200 justify-between p-5">
        <div>
            <a href="<%= root_path %>">Spill the Tea</a>
        </div>
        <div class="profile">
            <a href="#">
                <i class="fa-regular fa-user"></i>
                <!-- <img src="profile-icon.png" alt="Profilbild"> -->
            </a>
        </div>
            <div class="dashboard">
            <a href="/dashboards">Dashboard</a>
         </div>
    </nav>
</div>
