<div class="flex flex-col justify-center items-center text-center">
  <div class="font-bold text-4xl p-8">
    <%= t('appname') %>
  </div>
  <% if defined?(subtitle) %>
  <div class="font-bold text-2xl p-6"><%= subtitle %></div>
  <% end %>
</div>