<div class="flex items-center justify-center flex-col min-h-screen">
  <%= render "recommender/title", subtitle: t('choose_articles') %>

  <%= form_with do |form| %>
  <div class="flex flex-col md:flex-row space-x-0 md:space-x-8 space-y-12 md:space-y-0 mb-4 justify-center items-center">
    <%= render @category.products %>
  </div>

    <div class="flex flex-col p-8 rounded-xl bg-blue-400 shadow-xl w-96 md:w-auto">
      <%= form.submit t('form_labels.submit'), class: "bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
    </div>
  <% end %>

</div>