<div class="flex items-center justify-center flex-col min-h-screen">
  <div class="font-bold text-2xl p-6"><%= t('choose_articles') %></div>
  <%= render "shared/products", players: @products %>
</div>