<!DOCTYPE html>
<html>

<div class="flex flex-wrap h-screen 2xl:w-1/ w-screen left-20">
  <div class=" bg-gray-200 py-4">
    <div class="flex justify-center mb-4">
      <p class=" font-bold text-black"> X-Empfehl-O-Mat</p>
    </div>
    <nav class="flex-1">
      <ul class="space-y-1">
        <li>
          <a href="#" class="flex items-center text-black hover:bg-gray-300 px-4 py-2">
            
            Menu
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center text-black hover:bg-gray-300 px-4 py-2">
            
            Recomendation
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center text-black hover:bg-gray-300 px-4 py-2">
           
            Terminal
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center text-black hover:bg-gray-300 px-4 py-2">
           
            Warehouse
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex flex-row gap-5 pl-2">
    <h2 class="text-2xl font-bold mb-4">Customer Ratings</h2>
    <div id="chart"></div>
  </div>
</div>

</html>

