<!DOCTYPE html>
<html>

<div class="flex flex-wrap h-screen 2xl:w-1/ w-screen left-20">
  <div class="bg-gray-800 py-4">
    <div class="flex justify-center mb-4">
      <p class=" font-bold text-white"> X-Empfehl-O-Mat</p>
    </div>
    <nav class="flex-1">
      <ul class="space-y-1">
        <li>
          <a href="#" class="flex items-center text-white hover:bg-gray-700 px-4 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            Menu
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center text-white hover:bg-gray-700 px-4 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
            </svg>
            Recomendation
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center text-white hover:bg-gray-700 px-4 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 20l9 2-9-18-9 18 9-2zM5 20l9 2-9-18-9 18 9-2zM19 20l-9 2 9-18 9 18-9-2z" />
            </svg>
            Terminal
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center text-white hover:bg-gray-700 px-4 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
            </svg>
            Warehouse
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex flex-row gap-5 pl-2">
    <h2 class="text-2xl font-bold mb-4">Customer Ratings</h2>
    <div id="chart"></div>
  </div>
</div>

</html>

