<footer>
    <div class="footer">
        <div class="footer-left">
            <a href="#">Impressum</a>
            <a href="#">Datenschutz</a>
        </div>
        <div class="footer-right">
            <a href="#">Kontakt</a>
        </div>
    </div>
</footer>
</body>