<head class=" xl:min-h-full xl:min-w-full">
    <title>Spill the Tee - Kategorien</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/e464ad1dd2.js" crossorigin="anonymous"></script>
</head>
<body class=" xl:min-h-full xl:min-w-full">
<nav>
    <div>
        <a href="<%= root_path %>">Spill the Tea</a>
    </div>
    <div class="profile">
        <a href="#">
            <i class="fa-regular fa-user"></i>
           <!-- <img src="profile-icon.png" alt="Profilbild"> -->
        </a>
    </div>
    <div class="dashboard">
        <a href="#">Dashboard</a>
    </div>
    
</nav>
