<h1>Kategorien</h1>

Our blog has <%= Product.public_count %> products and counting!

<ul>
  <% @categories.each do |category| %>
    <li>
      <a href="<%= category_path(category) %>">
        <%= category.title %>
      </a>

    </li>
  <% end %>
</ul>

<%= link_to "(+) Add Category", new_category_path %>