<div class="flex items-center justify-center h-fit mt-14 mb-14">
  <div class="border-2 border-black p-16 rounded">
    <h1 class="text-4xl font-bold mb-6 text-center uppercase font-montserrat">
      <%= t('product.new') %>
    </h1>

      <%= render 'products/form', product: @category.products.build %>

    <div class="text-center items-center justify-center mt-12 p-2">
      <%= link_to t('category.back'), shop_category_path(@shop, @category), class: "text-white bg-black hover:bg-gray-600 font-bold py-2 px-4 uppercase font-montserrat" %>
    </div>
  </div>
</div>
